################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/
/.vs/NetworkingPartTwo/v17/Browse.VC.opendb
